# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/
venv/
.env

# Data files
Data/
*.nc

# Checkpoints / outputs
checkpoints/
*.pt
*.pth

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
